Node-RED-flow-export.json
[{"id":"40a0ad5c.e3def4","type":"tab","label":"dB_measurement","disabled":false,"info":""},{"id":"371fabb4.ea5ed4","type":"mqtt-broker","name":"*TTNAPPLICATIONID*","broker":"eu.thethings.network","port":"1883","tls":"","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6ed717ab.628f18","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"","usetls":false,"tls":"","influxdbVersion":"2.0","url":"https://westeurope-1.azure.cloud2.influxdata.com","rejectUnauthorized":true},{"id":"d1505ce0.75035","type":"mqtt in","z":"40a0ad5c.e3def4","name":"mqtt broker","topic":"+/devices/+/up","qos":"2","datatype":"json","broker":"371fabb4.ea5ed4","x":150,"y":300,"wires":[["8537753a.37ec38","18c13adb.87bc3d"]]},{"id":"8537753a.37ec38","type":"debug","z":"40a0ad5c.e3def4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":240,"wires":[]},{"id":"fe2e7b89.85b888","type":"influxdb out","z":"40a0ad5c.e3def4","influxdb":"6ed717ab.628f18","name":"influx db cloud","measurement":"+/devices/+/up","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"*ORGANIZATIONID*","bucket":"*BUCKETNAME*","x":600,"y":360,"wires":[]},{"id":"18c13adb.87bc3d","type":"function","z":"40a0ad5c.e3def4","name":"","func":"var msg7 = {};\n\nmsg7.payload = [{\"sound_level_meter_db\": msg.payload.payload_fields.value}];\n\nreturn msg7;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":340,"wires":[["fe2e7b89.85b888"]]}]